* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #223;
  color: #99a;
}

canvas {
  display: block;
  margin: auto;
  max-width: 100%;
}

a {
  color: #f9f;
  text-decoration: none;
}

h1 {
  text-align: center;
  transition-property: *;
  transition-duration: 0.25s;
}

footer {
  margin-top: 10px;
  text-align: center;
  font-size: small;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.1rem;
  }
}
